*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(52, 127, 214);
}

nav a {
    text-decoration: none;
    color:black;
    
}
footer{
    bottom: 0;
    position: fixed;
}