* {
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, rgb(52, 127, 214), rgb(177, 202, 223));
}

.container {
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
    padding-top: 75px;
}

.fundamental_1 {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
    img {
        width: 20%;
    }
}

.fundamental_2 {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
    img {
        width: 20%;
    }
}
.fundamental_2_tempo_integral {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
    img {
        width: 20%;
    }
}
.ensino_medio_regular {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
    img {
        width: 20%;
    }
}
.ensino_medio_tempo_integral {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
    img {
        width: 20%;
    }
}
.carga_horaria {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
}
.matricula {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    p {
        text-align: justify;
        width: 45%;
        font-size: 24px;        
    }
}
