* {
    margin: 0;
    padding: 0;
}

.contaner {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 40px; 
    padding: 20px; 
}

.h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(14, 99, 255);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text1 {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}


.text2 {
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.frase {
    font-size: 20px;
    font-family: fantasy;
}

.corpo {
    background-color: rgb(229, 229, 229);
}

.nome {
    text-align: end;
}
.h2{
    color: rgb(0, 7, 131);
}