* {
    margin: 0;
    padding: 0;
}


.contaner {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 20px; 
  animation: typing 1s steps(20, end) forwards;
}

.h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(14, 99, 255);
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text1 {
    font-size: 19px;
    font-family:  Arial;
    color: rgb(0, 0, 0);
    text-align: justify;
     padding: 30px; 
}


.text2 {
    font-size: 19px;
    font-family:  Arial;
    color: rgb(0, 0, 0);
     padding: 30px; 
}

.frase {
    font-size: 20px;
    font-family: Arial ;
}

.corpo {
     background-color:  rgb(177,202,223);
}

.nome {
    text-align: end;
}
.h2{
    color: rgb(0, 7, 131);
    font-family:  Arial;
}
.h3{
    color:rgb(0, 0, 0);
    font-family:  Arial;
}

.poet{
    margin-left: 60%;
}
.mine{
   width: 60%;            
  margin: 0 auto;         
   font-size: 18px;
      line-height: 1.6;
}

