body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
 background: linear-gradient(to right, rgb(52,127,214), rgb(177,202,223));
  color: #333;
}

header {
  padding: 18px;
  padding-top: 75px;
  background: linear-gradient(to right, rgb(52,127,214), rgb(177,202,223));
  color: white;
  text-align: center;
}

#busca {
  margin-top: 20px;
  padding: 12px;
  width: 90%;
  max-width: 500px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.regra {
  background: white;
  border-left: 6px solid #2456a6;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.regra:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.regra h2 {
  margin: 0 0 10px;
}

.regra p {
  margin-bottom: 10px;
}

.regra button {
  background-color: transparent;
  border: none;
  color: #2456a6;
  font-weight: bold;
  cursor: pointer;
}

footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
}